
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SessionDemo</title>
</head>
<body>
    <div> 
        <h1>SessionDemo....</h1>
        sessionID=@Session.SessionID <br />
        session=@Session["count"]<br />
    </div>
</body>
</html>
