
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TempDataDemo2</title>
</head>
<body>
    <div> 
        <h1>tempdataDemo....</h1>
        viewData=@ViewData["Key1"]<br />
        viewBag=@ViewBag.Key2<br />
        TempData=@TempData["Key3"]<br />
    </div>
</body>
</html>
